body {
  background-color: skyblue;
}

.btnGroup, .title, .rating, .info, .gameTitle {
  text-align: center;
}

.gameBody {
  padding: 30px;
}

.vidPlayer {
  box-shadow: 0 0 15px skyblue;
}

.gameTitle {
  padding: 5px;
  text-decoration: underline;
}

.rateTitle {
  font-weight: 750;
}

.rating {
  font-weight: 600;
  font-size: 24px;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 0 0 5px skyblue;
  background-color: gold;
}