#games, #soccer {
  height: 150px;
  width: 150px;
  object-fit: fill;
  border-radius: 50%;
  transition: all 1s;
}

.btnGridItem {
  text-align: center;
}

.btnImg {
  border: 1px solid black;
}

#games:hover, #soccer:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px dimgray;
}

@media only screen and (min-width: 960px) {

  #games, #soccer {
    height: 250px;
    width: 250px;
  }
}