#hobbiesContainer {
  margin-top: 100px;
}


#games, #soccer {
  height: 150px;
  width: 150px;
  object-fit: fill;
  border-radius: 50%;
  border: 2px solid black;
  transition: all 1s;
}

#games:hover, #soccer:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px dimgray;
}

@media only screen and (max-width: 600px) {
  #games, #soccer {
    height: 75px;
    width: 75px;
  }
}

@media only screen and (min-width: 1200px) {
  #games, #soccer {
    height: 250px;
    width: 250px;
  }
}