.cardBox {
  background-color: white;
}

.frontText, .backText {
  line-height: 1.6;
  padding: 30px;
  font-weight: 525;
  font-size: 20px;
}

.backTitle, .backText {
  text-align: center;
}

.flipBtn {
  padding: 30px;
  text-align: center;
}

@media only screen and (max-width: 980px) {
  .frontText, .backText {
    font-weight: 500;
    font-size: 18px;
  }
}