.player {
  margin: 150px auto auto 4%;
  height: 200px;
  width: 350px;
  border: 3px solid aliceblue;
  border-radius: 6px;
  box-shadow: 0 0 10px silver;
}

.linkSection {
  padding-top: 50px;
}

.directions {
  color: aliceblue;
  text-align: center;
}

.linkGrid {
 background-color: aliceblue; 
}

.linkText {
  text-align: center;
  margin: 0;
  padding: 3px;
}

@media only screen and (min-width: 475px) and (max-width: 550px) {
  .icon {
    margin-left: 50px;
  }

  .gitRepoLink {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 599px) {
  .icon {
    margin-left: 80px;
  }

  .gitRepoLink {
    margin-right: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .player {
    height: 125px;
    width: 250px;
  }

  .directions {
    margin: 0 11%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 719px) {
  .icon {
    margin-left: 35px;
  }

  .gitRepoLink {
    margin-right: 35px;
  }
}

@media only screen and (max-width: 720px) {
  .player {
    margin-top: 10%; 
  }

  .linkSection {
    text-align: center;
    padding-top: 40px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1250px) {
  .player {
    height:300px;
    width: 450px;
  }
}

@media only screen and (min-width: 1251px) and (max-width: 1400px) {
  .player {
    height: 350px;
    width: 500px;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1799px) {
  .player {
    height: 450px;
    width: 650px;
  }
}

@media only screen and (min-width: 1800px) {
  .player {
    height: 500px;
    width: 750px;
  }
}

@media only screen and (max-width: 600px) {
  #projectText {
    font-size: 12px;
    font-weight: 525;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {
  #projectText {
    font-size: 16px;
    font-weight: 550;
  }
}

@media only screen and (min-width: 1001px) {
  #projectText {
    font-size: 24px;
    font-weight: 600;
  }
}